@model IEnumerable<visa.Models.EmailTemplate>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="table1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Template)
            </th>
            <th></th>
        </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Template)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Emailid }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Emailid }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Emailid })
                </td>
            </tr>
        }

</table>
